@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Calligraffitti&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

}

h1 {
    font-family: 'Calligraffitti', cursive;
    font-size: 3rem;
    color: #CC8C18;
}

.sectionn {
    width: 100%;
    min-height: 80vh;


}

.containerr {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-sectionn {
    float: left;
    width: 50%;

}

.image-sectionn {

    width: 55%;

    margin-left: 45%;

}

.image-sectionn img {
    float: right;
    width: 60%;
    height: 60%;
}

.content-sectionn .titlee {
    text-transform: uppercase;
    font-size: 28px;

}

.content-sectionn .contentt h3 {
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-sectionn .contentt p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
}

.content-sectionn .contentt .buttonn {
    margin-top: 30px;
}

.content-sectionn .contentt .buttonn a {
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}

.content-sectionn .contentt .buttonn a:hover {
    background-color: #a52a2a;
    color: #fff;
}

.content-sectionn .sociall {
    margin: 40px 15px;
}

.content-sectionn .sociall i {
    color: #a52a2a;
    font-size: 30px;
    padding: 0px 10px;
}

.content-sectionn .sociall i:hover {
    color: #3d3d3d
}

@media screen and(max-width:768px) {
    .containerr {
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }

    .content-sectionn {
        float: none;
        display: block;
        width: 100%;
        margin: auto;

    }

    .image-sectionn {
        float: none;
        width: 100%;
    }

    .image-sectionn img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }

    .content-sectionn .titlee {
        text-align: center;
        font-size: 19px;

    }

    .content-sectionn .contentt .buttonn {
        text-align: center;
    }

    .content-sectionn .contentt .buttonn a {
        padding: 9px 30px;
    }

    .content-sectionn .sociall {
        text-align: center;
    }
}


html,
body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 90%;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

.flex {
    display: flex;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

/*-------------head--------- */
.head {
    height: 10vh;
    line-height: 10vh;
}

.head i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    background: #FAF3E7;
    text-align: center;
    color: #CC8C18;
}

.head img {
    margin-top: 10px;
}

/*-------------head--------- */
/*-------------header--------- */
header {
    background: #CC8C18;
    padding: 15px 0 15px 0;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.5s ease-in-out;
    background: white;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    padding: 0 20px 0 0;
}

header li {
    margin-right: 30px;
}

.left,
.right {
    width: 50%;
}

header ul li a {
    font-size: 15px;
    color: white;
    font-family: 'Berkshire Swash', cursive;
    font-weight: 500;
    transition: 0.5s;
}

.texttouch {
    font-family: 'Ms Madi', cursive;
    color: white;
    font-weight: 900;
    font-size: 120px;
}

header ul li a:hover {
    color: #000;
}

header .head_contact {
    position: relative;
}

header .head_contact i {
    position: absolute;
    top: -29px;
    left: -70%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background: white;
    color: #CC8C18;
    border-radius: 50%;
    transform: rotate(-45deg);
    border: 5px solid #ECE3D2;
    font-size: 30px;
}

header .sticky_logo {
    display: none;
}

header.sticky .sticky_logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: -10px;
}

header.sticky {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background: #313538;
    transition: 0.5s;
    height: 12vh;
    transition: 0.5s;
    top: 0;
    padding: 30px 0 0 0;
    opacity: 0.8;
}



@media only screen and (max-width:768px) {

    /*------------head------------*/
    .header .head_contact,
    .logo {
        display: none;
    }

    /*------------head------------*/
    header.sticky {
        height: 8vh;
    }

    header.sticky .nav-menu {
        background: #313538;
    }

    .navbar {
        height: 5vh;
        justify-content: space-between;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 11rem;
        flex-direction: column;
        background: #CC8C18;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        z-index: 99;
    }

    header.sticky .nav-menu {
        top: 5rem;
    }

    header ul li a {
        color: white;
    }

    .nav-menu.active {
        left: 0;
    }

    header li {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


button {
    background: #CC8C18;
    color: white;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
}

button i {
    margin-left: 20px;
    font-size: 25px;
}

button span {
    margin-top: 5px;
}

/*------------about------------*/
.top {
    margin-top: 80px;
}

.mtop {
    margin-top: 40px;
}

.heading {
    text-align: center;
}

.heading h5 {
    font-weight: 400;
    letter-spacing: 5px;
    color: #CC8C18;

}

.heading h2 {
    color: #ffffff;
    font-size: 45px;
    font-family: serif;
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-family: 'Berkshire Swash';
    position: absolute;
    width: 1264px;
    height: 75px;
    left: calc(50% - 1264px/2 - 2px);
    top: -205px;
}

.right {
    width: 50%;
}

.left {
    width: 50%;
}

h3 {
    font-size: 35px;
    font-family: serif;
    color: #24416B;
    margin-bottom: 20px;
}

.about .left {
    padding: 20px;
}

p1 {
    line-height: 30px;
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
}

.about {
    position: relative;
    padding-bottom: 5px;
}





/*------------about------------*/

/*------------footer------------*/
footer {
    background: black;
    color: white;
    padding: 30px;
}

.subscribe {
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.subscribe input {
    width: 100%;
    border-radius: 50px;
    margin-right: 30px;
    padding: 10px;
}

footer .grid {
    grid-template-columns: repeat(4, 1fr);
}

footer .content h2 {
    margin-bottom: 20px;
    font-size: 23px;
}

footer li {
    margin-bottom: 15px;
    opacity: 0.5;
}

footer li i {
    font-size: 13px;
    margin-right: 10px;
}

footer .content h3 {
    font-size: 20px;
    color: white;
    margin: 0;
}

footer .content .icon i {
    font-size: 25px;
    margin-right: 20px;
}

footer .social i {
    padding: 10px;
    background: #CC8C18;
    margin-right: 10px;
    border-radius: 50%;
}

footer .content {
    padding-top: 60px;
    padding-bottom: 50px;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}

/*------------footer------------*/
@media only screen and (max-width:768px) {

    /*------------home------------*/
    footer .grid,
    .blog .grid,
    .offer2 .grid,
    .wrapper2 .content,
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .home h1 {
        font-size: 100px;
    }

    .home {
        height: 80vh;
    }

    .home .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: 15px;
    }

    .home .box:nth-last-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    /*------------home------------*/
    /*------------about------------*/
    .left,
    .right {
        width: 100%;
    }

   

    .area .content,
    .room .content,
    .about .content {
        flex-direction: column;
    }

    .wrapper2::after,
    .area .left::after,
    .timer.about::before,
    .timer.about::after,
    .about .right::after,
    .about::before,
    .about::after {
        display: none;
    }

    /*------------about------------*/
    /*------------wrapper------------*/
    .wrapper .container {
        max-width: 80%;
        margin: auto;
    }

    /*------------wrapper2------------*/
    /*------------room------------*/
    .room img {
        margin: 0;
        margin-top: 50px;
    }

    /*------------room------------*/
    /*------------timer------------*/
    .timer.wrapper {
        height: 50vh;
    }

    /*------------timer------------*/
    /*------------offer------------*/
    .offer .box {
        flex-direction: column;
    }

    .offer .right {
        margin: 0px;
    }

    /*------------offer------------*/
    /*------------area------------*/
    .area img {
        margin: 0px;
        width: 100%;
    }

    /*------------area------------*/
    /*------------offer2------------*/
    .offer2.wrapper {
        height: 100vh;
    }

    /*------------offer2------------*/
    /*------------customer------------*/
    .customer .mtop {
        max-width: 100%;
    }

    /*------------customer------------*/
    /*------------footer------------*/
    .subscribe {
        max-width: 100%;
    }

    /*------------footer------------*/
}

@media only screen and (max-width:512px) {
    .header.sticky {
        height: 10vh;
    }

    .header.sticky .sticky_logo {
        width: auto;
        height: auto;
    }

    .header.sticky .nav-menu {
        top: 4rem;
    }

    .nav-menu {
        top: 12rem;
    }

    .head {
        height: 20vh;
        line-height: auto;
        text-align: center;
    }

    .head .container {
        flex-direction: column;
    }

    .home h1 {
        font-size: 70px;
    }

    .grid2,
    footer .grid,
    .blog .grid,
    .offer2 .grid,
    .wrapper2 .content,
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .home {
        height: 140vh;
    }

    .home .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, auto);
        grid-gap: 15px;
    }

    .home .box:nth-last-child(1) {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
    }

    img {
        width: 100%;
        height: 100%;
    }

    /*------------wrapper------------*/
    .wrapper .container {
        max-width: 90%;
    }

    .wrapper {
        height: 100vh;
    }

    .wrapper .item {
        padding: 20px;
        border: 0 solid #F3F3F3;
    }

    .offer2.wrapper {
        height: 170vh;
    }
}

#footer {
    background: #0f0f0f;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0 0 15px 0;
}

#footer p {
    font-size: 15;
    font-style: italic;
    padding: 0;
    margin: 0 0 40px 0;
}

#footer .social-links {
    margin: 0 0 40px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #009961;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #00b371;
    color: #fff;
    text-decoration: none;
}

#footer .copyright {
    margin: 0 0 5px 0;
}

#footer .credits {
    font-size: 13px;
}

#footer .credits a {
    color: #CC8C18;
    transition: 0.3s;
}

#footer .credits a:hover {
    color: #CC8C18;

}

.dropbtn {

    color: white;

    font-size: 15px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #CC8C18;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/**** Sass Variables ****/


.card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
}

.card .card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    transition: 0.5s;
    border-radius: 5%;
    border: solid 6px #CC8C18;
}

.card:hover img {
    opacity: 0.4;
    transition: 0.5s;
}

.card:hover .card-image {
    transform: translateY(-100px);
    transition: all 0.9s;
}

/**** Social Icons *****/
.social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
}

.social-icons li {
    list-style: none;
}

.social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 23px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(200px);
    opacity: 0;
}

.card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
}

.social-icons li a:hover {
    background: #000;
    transition: 0.2s;
}

.social-icons li a:hover .fab {
    color: #CC8C18;
}

.social-icons li a .fab {
    transition: 0.8s;
}

.social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #CC8C18;
}

.card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
}

.card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
}

.card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
}

.card:hover li:nth-child(4) a {
    transition-delay: 0.4s;
}

/**** Personal Details ****/
.details {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 1;
    padding: 10px;
}

.details h2 {
    margin: 30px 0;
    padding: 0;
    text-align: center;
}

.details h2 .job-title {
    font-size: 1rem;
    line-height: 2.5rem;
    color: #333;
    font-weight: 300;
}

.jane {
    position: absolute;
    bottom: -120px;
    left: 0;
    opacity: 0;
    background: #fff;
    width: 100%;
    height: 120px;
    z-index: 3;
    padding: 10px;
    transition: 0.4s;
}

.profile-two .social-icons li a {
    border-radius: 50%;
}

.card:hover .profile-img--two {
    transform: rotateY(180deg);
}

.card:hover .jane {
    bottom: 0;
    left: 0;
    transition-delay: 0.5s;
    opacity: 1;
}

.cards-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1140px;
    margin: auto;
}

/*Main */

.main {
    position: absolute;
    width: 1264px;
    left: calc(50% - 1264px/2 - 2px);
}

.main h2 {
    font-family: 'Montserrat';

    font-size: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

/*Tittle */


 .span1 {
    font-size: 18px;
    font-weight: bold;
    background-color: #CC8C18;
    padding: 6px;
    color: white;
    border-radius: 15px;
}

.span1:hover {
    background-color: black;
    opacity: 0.6;
    color: #ffffff;
    cursor: pointer;
    transition: 1s;
}


.log {
    color: #ffffff;
    padding: 10px;
}

.Register {
    color: #ffffff;
    
    
}
.Home {
    color: #ffffff;
}



 
.html5-video-player{
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: #eee;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -ms-high-contrast-adjust: none;
}
 
section{
  position: relative;  
  height: 450px;
  width: 1075px;
  display: flex;
  align-items: center;
}
 
.swiper{
  width: 950px;
}
.top{
    text-align: center;
    margin-top: 2px;
}
.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-top: 15rem;
}
 
.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: darkgoldenrod;
  border-radius: 20px 20px 0 0;
}
 
.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  position: relative;
  z-index: 100;
}
section .card .iframe{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
 
.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 
.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
 
.card .media-icons i:hover{
  opacity: 1;
}
 
.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  color:black ;
}
 
.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}
 
.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}
 
.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}
 
.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: darkgoldenrod;
}
 
.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
 
.card .button button{
  background: darkgoldenrod;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}
 
.button button:hover{
  background: #6616d0;
}
 
.swiper-pagination{
  position: absolute;
}
 
.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: darkgoldenrod;
}
 
.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: darkgoldenrod;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: darkgoldenrod;
}


